:root {
    --text: #8577A6;
    --text-faint: #2F283E;
    --text-highlight: #9B90B6;
    --bg: #1C1825;
    --bg-header: #121019;
    --border: #e5e4e7;
    --code-bg: #f4f3ec;
    --accent: #aa3bff;
    --accent-bg: rgba(170, 59, 255, 0.1);
    --accent-border: rgba(170, 59, 255, 0.5);
    --social-bg: rgba(244, 243, 236, 0.5);
    --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
    --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
    --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
    --mono: ui-monospace, Consolas, monospace;
    font: 18px/145% var(--sans);
    letter-spacing: 0.18px;
    color-scheme: light dark;
    color: var(--text);
    background: var(--bg);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

*/

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
    font-family: var(--heading);
    font-weight: 700;
    color: var(--text-highlight);
}

h1 {
  font-size: 2rem;
}

h3 {
    color: var(--text-highlight);
    font: bold;
    margin-bottom: 0px;
}

p {
    margin: 0;
}

p.faint {
    color: var(--text-faint);
    font-weight: 700;
}

main {
    flex: 1;
}

.header {
    padding: 1rem;
    background: var(--bg-header);
    display: flex;
    justify-content: space-between;
}

.footer {
    padding: 1rem;
    background: var(--bg-header);
    display: flex;
    justify-content: center;
}

.footer a {
    color: var(--text);
    padding-left: 1rem;
}

.nav-link {
    padding: 0 1rem 0 1rem;
    text-decoration: none;
    font-weight: 700;
    color: var(--text-faint);
    font-size: 1.5rem;
}

.nav-link:hover {
    color: var(--text-highlight);
}

#home-link {
    font-weight: bolder;
    font-size: 2rem;
}

#projects-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.card {
    margin: 1.5rem;
    padding: 1.5rem;
    background: var(--bg-header);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* Stole these box shadow values from https://www.w3schools.com/css/css3_shadows_box.asp */
}

.card.project-card {
    width: 25rem;
}

.card.left {
    text-align: left;
}

hr.rounded {
    width: 60%;
    border: 0px;
    border-top: 5px solid var(--text-faint);
    border-radius: 5px;
}

.project-card img {
    border-radius: 20px;
    width: 100%;
    aspect-ratio: 16/9;
}

